@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic);

html, body {
    width: 100%;
    height: 100%;
    margin: 0
}

html {
    display: table;
    text-align: center;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    background-color: #9dba44;
    color: #fff
}

@media (min-width:900px) {
    html {
        font-size: 11pt
    }

    .networks>li {
        display: inline-block;
        margin: 0 8px
    }
}

@media (min-width:600px) and (max-width:899px) {
    html {
        font-size: 8.5pt
    }

    .networks>li {
        display: inline-block;
        margin: 0 8px
    }
}

@media (max-width:599px) {
    html {
        font-size: 7pt
    }

    .networks>li {
        display: list-item;
        margin: 4px 0
    }
}

body {
    display: table-cell;
    vertical-align: middle
}

.body {
    text-align: left;
    display: inline-block;
    width: 50%
}

.body>p {
    font-size: 175%
}

p {
    margin: 4px 0
}

p.catchphrase {
    margin-bottom: 12px
}

p.smile {
    text-align: right
}

em.strong {
    font-size: 200%
}

em.stronger {
    font-size: 275%;
    vertical-align: middle;
    line-height: .75;
    margin-left: 12px;
    text-decoration: ThreeDHighlight;
}

#timer {
    font-size: 300%;
    font-weight: 600;
    margin: 10% 0 5% 0;
    text-align: center
}

#timer>* {
    vertical-align: top
}

#timer>.seconds {
    font-size: 75%
}

.networks {
    text-align: left;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    font-weight: 600;
    font-size: 150%
}

.networks>li>a:link {
    text-decoration: none;
    color: #333
}

.networks>li img {
    vertical-align: middle
}